<head>
  <%- include('../partials/head') %>
  <title>SGV | Actualizar Clientes</title>
</head>
<body>
  <!-- Navbar -->
  <%- include('../partials/navbar') %>

  <!-- Contenido -->
  <section id="services" class="services">
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <div class="section-title" data-aos="fade-up">
        <h2>ACTUALIZAR CLIENTES</h2>
        <br>
        <p>Actualice datos de clientes.</p>
      </div>
      <div class="container p-4">
        <div class="row">
          <% if (clients.length === 0) { %>
            <div class="col-md-12 text-center">
              <p>No hay clientes disponibles. Por favor, agregue clientes para visualizarlos.</p>
            </div>
          <% } else { %>
            <% clients.forEach(function (client) { %>
            <div class="col-md-4">
              <div class="card mb-3">
                <div class="card-header-update">
                  <div class="avatar-update">
                    <img src="<%= client.imagen || 'https://cdn-icons-png.flaticon.com/512/12267/12267913.png' %>" alt="Avatar">
                  </div>
                </div>
                <div class="card-body">
                  <h2 class="card-title text-center"><%= client.nombre %> <%= client.apellido %></h2>
                </div>
                <div class="card-footer">
                  <h3>DNI: </h3>
                  <p class="card-text text-center"><%= client.dni %>  </p>
                  <h3>VALOR: </h3>
                  <p class="card-text text-center"><%= client.valor %></p>
                  <h3>TIPO DE CIENTE: </h3>
                  <p class="card-text text-center"><%= client.tipo %></p>
                  <button class="btn update-button" onclick="mostrarFormularioActualizacion('<%= client.id %>')"><i class="fa-solid fa-pen-nib"></i> Actualizar</button>
                </div>
              </div>
            </div>
            <% }) %>
          <% } %>
        </div>
      </div>
      <div class="text-center">
        <a href="/gestion_clientes" class="btn btn-primary"><i class="fas fa-home"></i> Regresar</a>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <script src="/js/validaciones.js"></script>
  <%- include('../partials/footer') %>
</body>
</html>
